{% extends 'admin/index.html' %}
{% load static %}
{% block content %}
<!--above for template inheritance-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<div class="card" style="width:25rem;">
<h1>Details of Book</h1>

    <img src="{{book.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">

       <p class="card-text">{{book.title}}-</p>
       <p>{{book.price}}Rs</p>
    </div>
</div>

{% endblock %}

<!--</body>-->
<!--</html>-->